<h1>Books Admin</h1>
<a class="btn btn-primary mb-3" (click)="addProduct()">Add New Product</a>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Book Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.id}}</td>
          <td>{{product.name}}</td>
          <td>
            <button type="button" class="btn btn-primary">Show Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
    <app-addproduct *ngIf="action === 'add'" [product]="selectedProduct" (productAddedEvent)="refreshData()"></app-addproduct>
  </div>
</div>
