<h1>Add Product Admin</h1>

<form>
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name" placeholder="name" [(ngModel)]="product.name" name="name">
  <label for="description">description</label>
  <input type="text" class="form-control" id="description" placeholder="description" name="description" [(ngModel)]="product.description">

  <label for="price">Price</label>
  <input type="text" class="form-control" id="price" placeholder="price" name="price" [(ngModel)]="product.price">


    <br>
    <input type="file" (change)="onFileChanged($event)">
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">

  <br>
  <button type="button" class="btn btn-success" (click)="saveProduct()">Save Book</button>
</form>
